.modal {
  position: fixed;
  top: 108px;
  left: 30%;
  width: 40%;
  height: 100px;
  background-color: var(--colorForeground);
  color: var(--colorBackground);
  border-radius: 8px;
  opacity: 0.92;
  z-index: 2;
  box-shadow: 0 0.1rem 0.4rem var(--colorForeground);

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.modalTitle {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0 0 1rem;
  text-transform: uppercase;
}
