.search {
  text-align: center;
}

.searchInput {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px dotted red;
  background-color: transparent;
  color: var(--colorForeground);
}
.searchInput:focus {
  outline: none;
}

.searchButton {
  background: red;
  border: none;
  color: white;
  border-radius: 2px;
  font-size: 11px;
  padding: 2px 4px;
}
.searchButton:hover {
  cursor: pointer;
}

.searchHistory {
  font-size: 12px;
  margin-bottom: 0.5rem;
}
.searchHistory span {
  padding: 0 0.1rem;
}
.searchHistory span:hover {
  color: red;
  cursor: pointer;
}

.searchMessage {
  margin-top: 0.5rem;
  font-size: 12px;
}

.searchResults {
  max-width: 800px;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem 0;
}

.searchItem {
  flex: 0 0 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}
