.tooltip {
  position: relative;
  cursor: pointer;
}

.popup {
  border: 1px solid black;
  background-color: gray;
  padding: 0.2rem;
  border-radius: 4px;
  color: white;
  position: absolute;
  bottom: 70%;
  left: 60%;
  width: 140%;
}
