.tooltip {
  position: relative;
  cursor: pointer;
}

.popup {
  border: 1px solid black;
  background-color: gray;
  padding: 0.2rem;
  border-radius: 4px;
  color: white;
  position: absolute;
  bottom: 80%;
  left: 50%;
  width: 140%;
}

.invert {
  right: 50%;
  left: unset;
}
